<%= form_for @patient do |form| %>
    <%= form.label :name do %>
        <h2>nnaaaameee</h2>
    <% end %>
    <%= form.text_field :name %>
    <%= form.label :disease %>
    <%= form.text_field :disease %>
    <%= form.submit %>
<% end %>